<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title> STYLEKNOTE </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'Home/css/bootstrap.min.css' %}">
      <!-- style css -->
       <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'Home/css/responsive.css' %}">
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'Home/css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/Home/cssfont-awesome.css">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="{% static 'Home/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'Home/css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

   </head>
   <!-- body -->
   <body class="main-layout">
      <!--gallery-->
      <div class="clothes_main section ">
          <div class="container">
            <div class="row">
               {% for i in pro %}
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="sport_product">
                     <figure> <a href="{{i.get_url}}"><img src="{{i.img.url}}" alt="" style="height=300px; width=300px"></a></figure>
                    <h3> {{i.name}}</h3>
                     <h4>Rs <strong class="price_text">{{i.price}}</strong></h4>
                     <p>{{i.desc}}</p>
                  </div>
                </div>
               {% endfor %}
              </div>
            </div>
          </div>
   </body>
      <!--end gallery---->
</html>
{% endblock %}